.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e293b;
  height: 100vh;
}
.heading {
  color: #f0bb03;
  font-size: 60px;
  font-family: 'Bree Serif';
}
.paragraph {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Bree Serif';
}
.button {
  height: 30px;
  width: 100px;
  color: #1e293b;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
